.cart-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-items {
    min-width: 65%;;
}

.cart-items ul {
    list-style: none;
    text-decoration: none;
    padding-left: 0; /* Elimina el padding por defecto de la lista */
    margin-top: 0; /* Elimina el margen por defecto de la lista */
}

