.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
}

.search-result-item {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item:hover {
    background-color: #f8f9fa;
}

.search-result-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-result-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.search-result-info {
    flex: 1;

}

.search-result-info h4 {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #000;
}

.search-result-price {
    margin: 0;
    color: #2c3e50;
    font-weight: bold;
    font-size: 14px;
}
